.search {
    display: flex;
    margin: 0 30px
}
.search_input {
    background-color: #474747;
    border: 1px solid #6A6A6A;
    color: #989898;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 85px 9px 17px;
}

.search_btn {
    padding: 10px 12px;
    background-color: #474747;
    border: 1px solid #6A6A6A;
    border-left: none;
}