* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    background: #E5E5E5;
}
.header {
    margin: 0 auto;
    background-color: #1E1E1E;
}

.header_container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.contacts_info{
    display: flex;
}

.city {
    width: 122px;
    margin-right: 25px;
}

.logo {

}

.authentication {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.authentication a {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.cart {
    display: flex;
}

.cart_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2156BD;
}

.cart_number {
    color: #ffffff;
}